#beneficio-laxante {
    /* background-color: #f5f2ea; */
    padding: 80px 0;
}

.titulo-laxante {
    /* font-size: 48px; */
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
    cursor: pointer;
}

.text-1 {
    font-weight: 600;
}

.text-2 {
    color: #8bc115;
}

.titulo-laxante {
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.titulo-laxante::before,
.titulo-laxante::after {
    position: absolute;
    content: "";
    width: 120%;
    /* Ajustado a un ancho menor */
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1;
    background-repeat: no-repeat;
}

.titulo-laxante:hover::before {
    top: -70%;
    background-image: radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, transparent 15%, #8bc115 15%, transparent 25%),
        radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, transparent 8%, #8bc115 12%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%);
    background-size: 6% 6%, 10% 10%, 8% 8%, 10% 10%, 9% 9%, 6% 6%, 8% 8%, 6% 6%, 9% 9%;
    background-position: 50% 120%;
    animation: greentopBubbles 3s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.titulo-laxante:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, transparent 8%, #8bc115 12%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%),
        radial-gradient(circle, #8bc115 15%, transparent 15%);
    background-size: 10% 10%, 8% 8%, 7% 7%, 10% 10%, 8% 8%, 10% 10%, 9% 9%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}


/* grados de maduracion */

.featured-image-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f0ffeb;
}

.featured-image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.featured-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.featured-image-wrapper:hover .featured-image {
    transform: scale(1.05); /* Zoom en hover */
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    .featured-image-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


/* ---------- */



.imagen-texto-laxante {
    text-align: center;
}

.imagen-contenedor {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.imagen-completa {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-descripcion {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    text-align: center;
    margin-top: 15px;
}



/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {

    /* Ajustar tamaño del título en dispositivos móviles */
    .titulo-laxante .display-1 {
        font-size: 4rem;
        /* Ajusta según el tamaño deseado */
        line-height: 1.2;
    }

    /* Centrar y reducir el espacio en columnas */
    #beneficio-laxante .col-md-6 {
        text-align: center;
    }

    /* Reducción de márgenes para mejorar el ajuste en pantalla */
    .titulo-laxante {
        padding: 10px;
        margin-top: 10px;
    }

    /* Ajuste del tamaño de imagen y del contenedor en dispositivos móviles */
    .imagen-texto-laxante .imagen-contenedor {
        display: none;
    }

    /* Ajustar el contenedor de la imagen para que no sobresalga */
    .imagen-contenedor {
        max-width: 80%;
        /* Ajusta el porcentaje si es necesario */
        margin: 0 auto;
    }

    /* Reducción del texto de descripción */
    .texto-descripcion {
        font-size: 0.9rem;
        padding: 10px;
    }
}



/* ----- */


/* Tabs */

/* .section-tabs{
    z-index: 1000;
} */

.b-tab {
    border-radius: 10px;
    border: none;
}

.b-tab:hover {
    background-color: #76ab04 !important;
}

.filter-btn.active {
    background-color: #f39c12 !important;
    /* Cambia al color que desees */
    color: #fff !important;
    border-color: #f39c12 !important;
}


.b-tab:focus {
    display: none;
}

/* Responsivo para dispositivos móviles */
@media (max-width: 768px) {
    .container .filter-btn {
        font-size: 0.9rem;
        margin: 5px 0;
        z-index: 1000;
    }
}

/* --------- */

#galeria-imagenes {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
}

#galeria-imagenes .col-12,
#galeria-imagenes .col-md-4,
#galeria-imagenes .col-lg-3 {
    padding: 5px;
    box-sizing: border-box;
}

#galeria-imagenes .project {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

/* Ajuste para dispositivos pequeños */
@media (max-width: 768px) {
    #galeria-imagenes .project {
        height: 300px;
    }

    #galeria-imagenes .text {
        display: none;
    }
}

#galeria-imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* Clase de animación para desvanecimiento y desplazamiento */
.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Estado final después de la animación */
.fade-in-up.show {
    opacity: 1;
    transform: translateY(0);
}



/* Asegurarse de que los elementos estén visibles */
.filter-item, .project {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}


/* modal imagen */

.image-modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.image-modal.show {
    opacity: 1;
    visibility: visible;
}


.image-modal .modal-content {
    max-width: 80%;
    /* Máximo ancho del 80% de la pantalla */
    max-height: 80%;
    /* Máximo alto del 80% de la pantalla */
    margin: auto;
    display: block;
    object-fit: contain;
    /* Muestra la imagen en su tamaño original sin recortarla */
    background-color: #ffffff00;
}

.image-modal #caption {
    margin: auto;
    display: block;
    text-align: center;
    color: #ccc;
    padding: 10px 20px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Ciudades */

.section-city {
    position: relative;
    background-image: url('../images/urbano/gallery-13.jpg'); /* Cambia a la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Activa el efecto parallax */
    background-repeat: no-repeat;
    padding: 100px 0; /* Ajusta el padding según lo necesario */
}


.feacture-city-section{
    background-color: #f0ffeb;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-city::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Ajusta la opacidad y el color si deseas oscurecer */
    z-index: 0;
}

.city-card {
    position: relative;
    width: 100%;
    height: 250px; /* Altura fija para las tarjetas */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.city-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin distorsión */
    transition: transform 0.3s ease;
}

.city-card:hover {
    transform: translateY(-5px);
}

.city-card:hover img {
    transform: scale(1.1); /* Zoom en hover */
}

.city-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.city-card:hover .city-info {
    opacity: 1;
}

.city-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.city-description {
    font-size: 14px;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .city-card {
        height: 200px; /* Ajuste de altura en móviles */
    }
    .city-title {
        font-size: 16px;
    }
    .city-description {
        font-size: 12px;
    }
}


/* --------- */

/* cards para sobre la pitahaya */



/* -------- */

/* redes footeer */

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 80px;
    width: 100%;
    /* padding-top: 40px; */
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .r-facebook:hover,
.wrapper .r-facebook:hover .tooltip,
.wrapper .r-facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}


.wrapper .r-instagram:hover,
.wrapper .r-instagram:hover .tooltip,
.wrapper .r-instagram:hover .tooltip::before {
    background: #e4405f !important;
    color: #fff;
}

.wrapper .r-whatsapp:hover,
.wrapper .r-whatsapp:hover .tooltip,
.wrapper .r-whatsapp:hover .tooltip::before {
    background: #25d366 !important;
    color: #fff;
}

.wrapper .r-tiktok:hover,
.wrapper .r-tiktok:hover .tooltip,
.wrapper .r-tiktok:hover .tooltip::before {
    background: #000 !important;
    color: #25F4EE;
}

/* boton musica */

.mute-button {
    position: fixed;
    top: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #8bc115;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
    border: none;
}

.mute-button:hover {
    background-color: #76ab04;
}

.mute-button:focus {
    display: none;
}